@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url('../fonts/Gotham-Font/GothamBook.ttf');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Gotham";
  src: url('../fonts/Gotham-Font/GothamBold.ttf');
  font-weight: bold;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Gotham";
  src: url('../fonts/Gotham-Font/GothamBoldItalic.ttf');
  font-weight: normal;
  font-style: italic;
  }